<li class="question">
  <div class="content" data-type="{{ type }}">
  <div class="info">
    <span class="step">{{step_id}}</span>
    <span class="question-type">{{type}}</span>
  </div>
  {% block content %}
  {% endblock %}
  </div>

  <div class="flow">
  {% block flow %}
    <label>Next step:</label>
    <span>{{ next_step }}</span>
  {% endblock %}
  </div>

  <button class="btn btn-info edit-question" data-step-id="{{ step_id }}">Edit</button>
  <button class="btn btn-danger remove-question" data-step-id="{{ step_id }}">Remove</button>
</li>
