body {
  font-family: sans;
}

.steps {
    list-style-type: none;
    padding: 0;
}

.step {
  border-left: 3px solid #444;
  padding-left: 1em;
  margin-bottom: 2em;
}

.step:after {
    display: block;
    content: " ";
    clear: both;
}

.step .info {
  margin-top: 1em;
  height: 2em;
}

.step .info .step-type {
  font-size: .7em;
  float: right;
}

.step .flow {
  margin-top: 1em;
  margin-bottom: .5em;
}

.step .content {
    margin: 1em 0 1em 0;
    background-color: #eee;
    padding: 1em;
}

.step .content textarea {
    width: 100%;
}

.step .content .multiple-add {
    margin: 1em;
}

.step .content .text {
    padding: 1em 0 1em 0;
}

.container {
  margin-top: 1em;
}

.thumbnail-remove {
  position: absolute;
  clear: none;
  bottom: 10px;
  right: 10px;
}
