<!DOCTYPE html>
<html lang="en" ng-app="bossa-editor">
  <head>
    <meta charset="utf-8">
    <title>PyBossa Project generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">

    <script src="{{ url_for('static', filename='lib/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/angular.js') }}"></script>

    <script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
  </head>
  <body>
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">PyBossa Project generator</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="DataManager">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="dropdown-toggle" href="#" id="project-menu" data-toggle="dropdown" title="Load template">
                <i class="glyphicon glyphicon-list-alt"></i>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="project-menu">
                {% for tid, template in templates.items(): %}
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="load_template('{{ tid }}')">{{ template['title'] }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li>
              <a class="dropdown-toggle" href="#" id="project-menu" data-toggle="dropdown" title="Export your project">
                <i class="glyphicon glyphicon-send"></i>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="project-menu">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="download_json()">Download JSON</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#send-server">Send to server</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row container">
      <div class="col-md-6" ng-controller="StepEditor">
        <div class="navbar navbar-default container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Step Editor</a>
          </div>
          <form class="navbar-form navbar-right">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="add-menu" data-toggle="dropdown">
                Add <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="add-menu">
                <li role="presentation" ng-click="add_step('yesno')"><a role="menuitem" tabindex="-1" href="#">Yes/No question</a></li>
                <li role="presentation" ng-click="add_step('multiple')"><a role="menuitem" tabindex="-1" href="#">Multiple answer question</a></li>
                <li role="presentation" ng-click="add_step('freetext')"><a role="menuitem" tabindex="-1" href="#">Open answer question</a></li>
              </ul>
            </div>
          </form>
        </div>

        <ul class="steps">
            <li ng-repeat="step in steps" ng-include="'static/partials/step.html'" class="step">
            </li>
        </ul>
      </div>
      <div class="col-md-6" ng-controller="TaskEditor">
        <div class="navbar navbar-default container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Task Editor</a>
          </div>
          <form class="navbar-form navbar-right">
            <div class="multiple-add input-group">
              <input type="text" placeholder="http://...." class="form-control" ng-model="task_url" />
              <span class="input-group-btn">
                <button class="btn btn-success" type="button" ng-click="add_task(task_url); task_url = ''">Add Task</button>
              </span>
            </div>
          </form>
        </div>
        <div class="steps row">
          <div ng-repeat="task in tasks" ng-include="'static/partials/task.html'" class="col-xs-6 col-md-3 task ">
          </a>
        </div>
      </div>
    </div>

    <div class="modal fade" id="send-server" ng-include="'static/partials/send_modal.html'">
    </div>
  </body>
</html>
