<li class="question">
  <div class="content" data-type="{{ type }}">
    <label>Step ID:</label><input type="text" data-attr="step_id" value="{{ step_id }}"/>
    {% block content %}
    {% endblock %}
  </div>

  <div class="flow">
  {% block flow %}
    <label>Next step:</label>
    <select data-attr="next_step">
      <option value="">-</option>
      {% for step in steps %}
        {% if step != step_id %}
          <option value="{{ step }}"
            {% if next_step == step %}
              selected
            {% endif %}
             >{{ step }}</option>
        {% endif %}
      {% endfor %}
      <option value="end">end</option>
    </select>
  {% endblock %}
  </div>

  <button class="btn btn-success save-question">Save</button>
</li>
